In [1]:
import pandas as pd
import os

In [2]:
mort_data = os.path.join("datas","mortality", "mortality.csv")
mort_M_data = os.path.join("datas","mortality", "mortality_MetaData.csv")

mort_df = pd.read_csv(mort_data)
mort_df.head()

,REF_DATE,GEO,DGUID,Sex,Indicators,Selected causes of death (ICD-10),Characteristics,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2000/2002,"Total, census metropolitan areas",NaN,Both sexes,Mortality,"Total, all causes of death",Number,Number,223,units,0,v106775923,1.1.1.1.1,403920.0,NaN,NaN,NaN,0
1,2000/2002,"Total, census metropolitan areas",NaN,Both sexes,Mortality,"Total, all causes of death","Low 95% confidence interval, number",Number,223,units,0,v106775924,1.1.1.1.2,402680.0,NaN,NaN,NaN,0
2,2000/2002,"Total, census metropolitan areas",NaN,Both sexes,Mortality,"Total, all causes of death","High 95% confidence interval, number",Number,223,units,0,v106775925,1.1.1.1.3,405164.0,NaN,NaN,NaN,0
3,2000/2002,"Total, census metropolitan areas",NaN,Both sexes,Mortality,"Total, all causes of death",Rate,"Rate per 100,000 population",265,units,0,v106775926,1.1.1.1.4,645.7,NaN,NaN,NaN,1
4,2000/2002,"Total, census metropolitan areas",NaN,Both sexes,Mortality,"Total, all causes of death","Low 95% confidence interval, rate","Rate per 100,000 population",265,units,0,v106775927,1.1.1.1.5,643.8,NaN,NaN,NaN,1

In [3]:
# count total number of Mortaility and Potential years of life lost
count = mort_df["Indicators"].value_counts()

print(f"there are {count['Mortality']} mortality and {count['Potential years of life lost']} number of Potential years lost")

there are 47628 mortality and 47628 number of Potential years lost

In [4]:
# Drop columns that have NaN for "all" rows.
mort_df = mort_df.dropna(axis="columns", how="all")

# Just want to find number of mortality for each GEO(region) on each REF_DATE
new_mort_df = mort_df[["REF_DATE", "GEO", "Indicators"]]
new_mort_df.head()

    REF_DATE                               GEO Indicators
0  2000/2002  Total, census metropolitan areas  Mortality
1  2000/2002  Total, census metropolitan areas  Mortality
2  2000/2002  Total, census metropolitan areas  Mortality
3  2000/2002  Total, census metropolitan areas  Mortality
4  2000/2002  Total, census metropolitan areas  Mortality

In [5]:
# count total number of Mortaility and Potential years of life lost
count = mort_df["Indicators"].value_counts()
print(count)
print()
print(f"There are {count['Mortality']} mortality and {count['Potential years of life lost']} number of Potential years lost")

Mortality                       47628
Potential years of life lost    47628
Name: Indicators, dtype: int64

There are 47628 mortality and 47628 number of Potential years lost

In [6]:
# Now that we know there are only 2 indicators mortality and Potential years lost
# replace them with a number 1

new_mort_df["Indicators"] = new_mort_df["Indicators"].replace("Mortality", 1)
new_mort_df["Indicators"] = new_mort_df["Indicators"].replace("Potential years of life lost", 1)
new_mort_df

c:\users\16473\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

c:\users\16473\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

        REF_DATE                               GEO  Indicators
0      2000/2002  Total, census metropolitan areas           1
1      2000/2002  Total, census metropolitan areas           1
2      2000/2002  Total, census metropolitan areas           1
3      2000/2002  Total, census metropolitan areas           1
4      2000/2002  Total, census metropolitan areas           1
5      2000/2002  Total, census metropolitan areas           1
6      2000/2002  Total, census metropolitan areas           1
7      2000/2002  Total, census metropolitan areas           1
8      2000/2002  Total, census metropolitan areas           1
9      2000/2002  Total, census metropolitan areas           1
10     2000/2002  Total, census metropolitan areas           1
11     2000/2002  Total, census metropolitan areas           1
12     2000/2002  Total, census metropolitan areas           1
13     2000/2002  Total, census metropolitan areas           1
14     2000/2002  Total, census metropolitan areas           1
15     2000/2002  Total, census metropolitan areas           1
16     2000/2002  Total, census metropolitan areas           1
17     2000/2002  Total, census metropolitan areas           1
18     2000/2002  Total, census metropolitan areas           1
19     2000/2002  Total, census metropolitan areas           1
20     2000/2002  Total, census metropolitan areas           1
21     2000/2002  Total, census metropolitan areas           1
22     2000/2002  Total, census metropolitan areas           1
23     2000/2002  Total, census metropolitan areas           1
24     2000/2002  Total, census metropolitan areas           1
25     2000/2002  Total, census metropolitan areas           1
26     2000/2002  Total, census metropolitan areas           1
27     2000/2002  Total, census metropolitan areas           1
28     2000/2002  Total, census metropolitan areas           1
29     2000/2002  Total, census metropolitan areas           1
...          ...                               ...         ...
95226  2010/2012        Victoria, British Columbia           1
95227  2010/2012        Victoria, British Columbia           1
95228  2010/2012        Victoria, British Columbia           1
95229  2010/2012        Victoria, British Columbia           1
95230  2010/2012        Victoria, British Columbia           1
95231  2010/2012        Victoria, British Columbia           1
95232  2010/2012        Victoria, British Columbia           1
95233  2010/2012        Victoria, British Columbia           1
95234  2010/2012        Victoria, British Columbia           1
95235  2010/2012        Victoria, British Columbia           1
95236  2010/2012        Victoria, British Columbia           1
95237  2010/2012        Victoria, British Columbia           1
95238  2010/2012        Victoria, British Columbia           1
95239  2010/2012        Victoria, British Columbia           1
95240  2010/2012        Victoria, British Columbia           1
95241  2010/2012        Victoria, British Columbia           1
95242  2010/2012        Victoria, British Columbia           1
95243  2010/2012        Victoria, British Columbia           1
95244  2010/2012        Victoria, British Columbia           1
95245  2010/2012        Victoria, British Columbia           1
95246  2010/2012        Victoria, British Columbia           1
95247  2010/2012        Victoria, British Columbia           1
95248  2010/2012        Victoria, British Columbia           1
95249  2010/2012        Victoria, British Columbia           1
95250  2010/2012        Victoria, British Columbia           1
95251  2010/2012        Victoria, British Columbia           1
95252  2010/2012        Victoria, British Columbia           1
95253  2010/2012        Victoria, British Columbia           1
95254  2010/2012        Victoria, British Columbia           1
95255  2010/2012        Victoria, British Columbia           1

[95256 rows x 3 columns]

In [11]:
# see how many mortality there are in each REF_DATE
new_mort_df.groupby(["REF_DATE","GEO"]).sum()

                                                 Indicators
REF_DATE  GEO
2000/2002 Abbotsford-Mission, British Columbia          882
          Barrie, Ontario                               882
          Brantford, Ontatio                            882
          Calgary, Alberta                              882
          Edmonton, Alberta                             882
          Greater Sudbury, Ontario                      882
          Guelph, Ontario                               882
          Halifax, Nova Scotia                          882
          Hamilton, Ontario                             882
          Kelowna, British Columbia                     882
          Kingston, Ontario                             882
          Kitchener-Cambridge-Waterloo, Ontario         882
          London, Ontario                               882
          Moncton, New Brunswick                        882
          Montréal, Quebec                              882
          Oshawa, Ontario                               882
          Ottawa-Gatineau, Ontario part                 882
          Ottawa-Gatineau, Ontario/Quebec               882
          Ottawa-Gatineau, Quebec part                  882
          Peterborough, Ontario                         882
          Québec, Quebec                                882
          Regina, Saskatchewan                          882
          Saguenay, Quebec                              882
          Saint John, New Brunswick                     882
          Saskatoon, Saskatchewan                       882
          Sherbrooke, Quebec                            882
          St. Catharines-Niagara, Ontario               882
          St. John's, Newfoundland and Labrador         882
          Thunder Bay, Ontario                          882
          Toronto, Ontario                              882
...                                                     ...
2010/2012 Guelph, Ontario                               882
          Halifax, Nova Scotia                          882
          Hamilton, Ontario                             882
          Kelowna, British Columbia                     882
          Kingston, Ontario                             882
          Kitchener-Cambridge-Waterloo, Ontario         882
          London, Ontario                               882
          Moncton, New Brunswick                        882
          Montréal, Quebec                              882
          Oshawa, Ontario                               882
          Ottawa-Gatineau, Ontario part                 882
          Ottawa-Gatineau, Ontario/Quebec               882
          Ottawa-Gatineau, Quebec part                  882
          Peterborough, Ontario                         882
          Québec, Quebec                                882
          Regina, Saskatchewan                          882
          Saguenay, Quebec                              882
          Saint John, New Brunswick                     882
          Saskatoon, Saskatchewan                       882
          Sherbrooke, Quebec                            882
          St. Catharines-Niagara, Ontario               882
          St. John's, Newfoundland and Labrador         882
          Thunder Bay, Ontario                          882
          Toronto, Ontario                              882
          Total, census metropolitan areas              882
          Trois-Rivières, Quebec                        882
          Vancouver, British Columbia                   882
          Victoria, British Columbia                    882
          Windsor, Ontario                              882
          Winnipeg, Manitoba                            882

[108 rows x 1 columns]

In [7]:
# make 3 data frame for each REF_DATE